*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(42, 14, 68);
}
.fristline{
    max-width: 80vw;
    margin: auto;
    font-size: 5.5vw;
    margin: 8.4vw;
    margin-bottom: 2vw;
    color: rgb(197, 250, 6);
}
.flex{
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
}
.secondline{
    font-size: 8vw;
    color: rgb(211, 221, 119);
}
.log{
    padding-bottom:3vw;
}
.login{
    margin-right: 4vw;
    padding: 3vw;
    border-radius: 2vw;
    font-size: 2vw;
    border: solid .2vw green;
    background-color: rgb(192, 192, 241);
    color: rgb(50, 173, 112);
}
.signup{
    padding: 3vw;
    font-size: 2vw;
    border-radius: 2vw;
    border: solid .2vw green;
    background-color: rgb(192, 192, 241);
    color: rgb(50, 173, 112);
}
.box{
    background-color: rgb(107, 173, 107);
    text-align:  center;
    margin: 6vw;
    padding: 5vw;
    margin-left: 30vw;
    margin-right: 30vw;
    font-size: 2.5vw;
    border-radius: 2vw;
    border: solid 0.4vw red;
    color: rgb(240, 230, 230);
}
.condition1{
    padding: 1vw;
}
.condition2{
    padding: 1vw;
}
.ball, .balle{
    border: 0.2vw solid white;
    margin: 1.7vw;
    border-radius: 1.2vw;
    padding: 0.7vw;
    
}
ul{
    display: flex;
}
.balle {
    animation: animationball 4s 0ms infinite alternate-reverse;
}

.ball {
    animation: animationball 5s 0ms infinite alternate-reverse;
}

@keyframes animationball {
    from {}

    to {
        transform: translatey(-76vw);
    }
}
.secondline {
    animation: animationball 2s 0ms 1 alternate-reverse;
}

.log {
    animation: loganimation 2s 0ms 1 alternate-reverse;
}

@keyframes loganimation {
    from {}

    to {
        transform: translatex(500px);
    }
}
.box{
    animation: animationbox 2s 0ms 1 alternate-reverse;
}
@keyframes animationbox {
    from {}

    to {
        transform: translateX(-600px);
    }
}
@media only screen and (max-width: 720px) {
    .fristline{
        margin: 25vw;
        margin-bottom: 15vw;
        font-size: 13vw;
    }
    .secondline{
        font-size: 13vw;
        margin-bottom: 20vw;
    }
    .flex{
        display: block;
    }
    .log{
        margin-left: 1vw;
        margin-bottom: 20vw;
    }
    .login{
        font-size: 7vw;
    }
    .signup{
        font-size: 7vw;
        margin-left: 20vw;
    }
    .box{
        font-size: 5vw;
        padding: 3vw;
        margin-left: 20vw;
        margin-right: vw;
    }
    .ball , .balle{
        animation: none;
        display: none;
    }
}